.productos-conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.producto-card {
    background-color: rgb(218, 128, 18);
    border: 1px solid #e6cece;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.producto-image {
    width: 200px;
    height: 200px;
    border-radius: 70%;

}

.productos-conteiner {
    background-color: rgb(108, 182, 129);
    border: 2vm;
    border-radius: 2vw;
}

.card {
    border: 2vw;
    border-radius: 2vw;
}