.detalle-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #487122;
    border: 1px solid #50d13f;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    align-items: center;
}

.detalle-imagen {
    width: 300px;
    height: auto;
    border-radius: 10vw;
    object-fit: cover;
}

.detalle-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(244, 239, 239);

}

.detalle-contador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    color: rgb(25, 0, 0);


}

.detalle-contador span {
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #38a03f;
    padding: 1vw;
    border-radius: 2vw;
}